.profile {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-direction: column;
	margin: auto;
	padding-top: 25px;
	background: #fff;

	.container-prof {
		display: flex;
		padding: 0 0 15px 0;
		width: 50%;
		margin: auto;

		&__image {
			display: flex;
			width: 100px;
			height: 100px;
			background-color: gray;
			border-radius: 50%;
      align-items: center;
      justify-content:center;

			.profile-image {
				width: 100px;
				height: 100px;
				border-radius: 50%;
				object-fit: cover;
				object-position: center right;
			}

			.hiddenFileInput > input {
				opacity: 0;
				cursor: pointer;
				height: 100%;
				width: 100;
			}

			.hiddenFileInput {
        height: 100px;
				overflow: hidden;
				background: center center no-repeat;
				background-size: 50% 50%;
				background-image: url(../../../images/profile.png);
			}
		}

		&__info {
			padding-left: 10px;
			display: flex;
			flex-direction: column;
		}

		&__name {
			.profile-name {
				font-size: 24px;
			}
		}

		.profile-instrument {
			font-size: 24px;
		}
	}

	.user-info {
		display: flex;
		width: 50%;
		margin: auto;
		padding-bottom: 20px;

		.information {
			padding-left: 15px;
		}
	}
}

@media (max-width: 768px) {
	.profile {
		width: 100%;

		.container-prof {
			width: 95%;

			&__name {
				.profile-name {
					font-size: 20px;
				}
			}

			.profile-instrument {
				font-size: 20px;
			}
		}

		.user-info {
			width: 95%;
		}
	}
}
