body {
	background: #f1f1f1 !important;
}

.container {
	&__login {
		&--link {
			color: white;
		}
	}
}

.link:hover,
.link:visited,
.link:link,
.link:active {
	text-decoration: none;
	color: black !important;
	padding: 5px;
}

#friends {
	display: none;
	padding-top: 10px;
	width: 50%;
	margin: 20px auto;
	padding: 5px;
	box-shadow: 5px 0px 19px rgba(50, 50, 50, 0.44);
	background-color: white;
	border-radius: 15px;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
}

@media (max-width: 768px) {
	#friends {
		width: 95%;
	}
}
