body {
	background: #f1f1f1 !important;
}

.container {
	&__login {
		&--link {
			color: white;
		}
	}
}

.link:hover,
.link:visited,
.link:link,
.link:active {
	text-decoration: none;
	color: black !important;
	padding: 5px;
}

#friends {
	display: none;
	padding-top: 10px;
	width: 50%;
	margin: 20px auto;
	padding: 5px;
	box-shadow: 5px 0px 19px rgba(50, 50, 50, 0.44);
	background-color: white;
	border-radius: 15px;
}

.friends-message {
	font-size: 20px;
	font-weight: 700;
	width: 95%;
	margin: auto auto;
	padding: 10px;
}

.profileData {
	display: none;
	padding-top: 10px;
	width: 50%;
	margin: 20px auto;
	padding: 5px;
	box-shadow: 5px 0px 19px rgba(50, 50, 50, 0.44);
	background-color: white;
	border-radius: 15px;
}

.profile-image {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center right;
}

.profile--without-pic {
	height: 45px;
}

@media (max-width: 768px) {
	#friends {
		width: 95%;
	}

  .profileData {
    width: 95%;
  }
}
