.body {
    background-color: #FFFFFF;
}

.container {
    &__login {
        &--link {
            color: white;
        }
    }
}

.link:hover, .link:visited, .link:link, .link:active
{
    text-decoration: none;
    color: black !important;
    padding: 5px;
}

#friends {
    display: none;
}

.profile-image {
    border-radius: 50%;
    width: 100%;
}
