.burger__mobile {
    display: none;
}

a {
    color: white !important;
}

.bg-navbar  {
  background-color:#1A71D9;
}

@font-face {
    font-family: 'MateSC-Regular';
    src: url('../../../fonts/MateSC-Regular.ttf'); /* IE9 Compat Modes */
}

.brand {
    font-family: 'MateSC-Regular';
    font-size: 22px;
    font-weight: 700;
}

.form__search {
    margin-right: 20px;
}

@media (max-width: 768px) {
    .form__search  {
        display: flex !important;
        flex-direction: row !important;
        justify-content: left;
        width: 70%;
        flex-flow: row !important;
        padding-top: 15px;
        margin-right: 0;
    }

    .form__btn {
        margin-left: 15px;
    }

    .burger__mobile {
        display: revert;
        padding-left: 10px;
    }
}
