.commentaryPost {
	display: flex;
	width: 100%;
	flex-direction: column;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		width: 95%;
		padding-left: 10px;
	}

	&__instrument {
		display: flex;
		justify-content: center;
	}

	&__info {
		display: flex;
		flex-direction: row;
		margin: 5px 5px;
	}

	.comentary {
		display: flex;
		justify-content: space-between;
		width: 100%;
		flex-direction: column;
		margin: 0 5px;
		background: #f0f2f5;
		border-radius: 10px;
	}

	&__image {
		display: flex;
		width: 100px;
		height: 100px;
		background-color: gray;
		border-radius: 50%;

		&--comentary {
			width: 50px;
			height: 50px;
		}

    .profile-image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center right;
    }

		.hiddenFileInput > input {
			opacity: 0;
			cursor: pointer;
			height: 100%;
			width: 450px;
		}

		.hiddenFileInput {
			overflow: hidden;
			background: center center no-repeat;
			background-size: 50% 50%;
			background-image: url(../../../images/profile.png);
		}
	}

	&__content {
		display: flex;
		padding-left: 10px;
	}

	&__description {
		font-size: 20px;
    word-break: break-all;
    padding-right: 20px;

		&--comentary {
			font-size: 15px;
		}
	}

	&__interation {
		display: flex;
		flex-direction: row;
	}

	.deleteCommentary {
		display: flex;
	}
}

@media (max-width: 768px) {
	.commentaryPost {
		width: 100%;

		.deleteCommentary {
			display: flex;
		}
	}
}
